Repository xyz-tools/gcode-preview, pull requests merged in 2024-06, with the labels that each got.

#162 Fix the PR deploy to run on the PR and not the PR target
  .github/workflows/firebase-hosting-pull-request.yml
Labels: don't merge

#163 Fix github actions to run on the pr branch
  .github/workflows/run-tests.yml
Labels: don't merge

#166 Documentation
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .gitignore
  demo/index.html
  package-lock.json
  package.json
  src/gcode-parser.ts
  src/webgl-preview.ts
  typedoc.json
Labels: docs, 2.x

#157 Introduce Dev mode
  demo/js/demo.js
  package-lock.json
  package.json
  src/dev-gui.ts
  src/gcode-parser.ts
  src/gcode-preview.ts
  src/webgl-preview.ts
Labels: 2.x

#164 Use BatchedMesh to improve performance
  demo/index.html
  package-lock.json
  package.json
  src/dev-gui.ts
  src/webgl-preview.ts
Labels: performance, 2.x

#136 Fix slowdown in progressive render
  demo/js/demo.js
  src/__tests__/webgl-preview.ts
  src/gcode-parser.ts
  src/webgl-preview.ts
Labels: feature
