Repository xyz-tools/gcode-preview, pull requests merged in 2024-10, with the labels that each got.

#207 Bump dev deps & speed up build
  .prettierignore
  demo/index.html
  examples/react-typescript-demo/package-lock.json
  examples/react-typescript-demo/package.json
  examples/svelte-demo/package-lock.json
  examples/vue-demo/package-lock.json
  package-lock.json
  package.json
  rollup.config.mjs
  src/gcode-preview.ts
  src/webgl-preview.ts
Labels: meta

#195 Migrate demo to vuejs
  .prettierignore
  demo/.eslintrc.js
  demo/bulma-prefixed.min.css
  demo/index.html
  demo/js/app.js
  demo/js/default-settings.js
  demo/js/demo.js
  demo/js/presets.js
  demo/js/utils.js
  demo/js/vue.esm-browser.js
  demo/style.css
Labels: demo

#188 Extract out BuildVolume
  src/__tests__/build-volume.ts
  src/build-volume.ts
  src/gridHelper.ts
  src/helpers/grid.ts
  src/helpers/line-box.ts
  src/helpers/three-utils.ts
  src/lineBox.ts
  src/webgl-preview.ts
Labels: 2.x, refactor

#215 Fix the initial render logic of the demo
  demo/js/app.js
Labels: bug, demo, 2.x

#211 Introduce an interpreter to extract command interpretation logic
  demo/js/app.js
  src/__tests__/gcode-parser.ts
  src/__tests__/interpreter.ts
  src/__tests__/job.ts
  src/__tests__/path.ts
  src/__tests__/preserving-parser.ts
  src/__tests__/webgl-preview.ts
  src/dev-gui.ts
  src/gcode-parser.ts
  src/interpreter.ts
  src/job.ts
  src/path.ts
  src/webgl-preview.ts
Labels: 3.0, refactor

#218 Implement G21 (targeted on v3.x branch)
  src/__tests__/interpreter.ts
  src/gcode-parser.ts
  src/interpreter.ts
Labels: 3.0, feature

#226 Quick fix removes light mode for now
  demo/style.css
Labels: demo

#220 Improve the paths subsets of jobs
  demo/js/app.js
  src/__tests__/interpreter.ts
  src/__tests__/job.ts
  src/__tests__/path.ts
  src/interpreter.ts
  src/job.ts
  src/path.ts
  src/webgl-preview.ts
Labels: 3.0, performance

#227 Wire up `extrusionWidth` and `lineHeight` used for building tube geometry
  demo/js/presets.js
  src/__tests__/path.ts
  src/path.ts
  src/webgl-preview.ts
Labels: 3.0

#224 Bring back the tolerance logic
  src/__tests__/job.ts
  src/job.ts
  src/webgl-preview.ts
Labels: enhancement, 3.0

#229 Remove the Code enum
  src/__tests__/interpreter.ts
  src/gcode-parser.ts
  src/interpreter.ts
Labels: 3.0

#237 Fix thick lines and set min width to 1
  demo/index.html
  demo/js/default-settings.js
  demo/js/presets.js
  src/webgl-preview.ts
Labels: port to v3

#233 Bring back a representation of layers
  demo/js/app.js
  src/__tests__/interpreter.ts
  src/__tests__/job.ts
  src/interpreter.ts
  src/job.ts
  src/webgl-preview.ts
Labels: 3.0

#245 Re-render on build volume change
  demo/js/app.js
Labels: bug, 3.0, demo, 2.x
